.about_main {
    height: 100vh;
    background-color: green;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about_first {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 8, 18), rgba(0, 0, 0, 0.3)), url('../assets/about.jpg');
    background-size: cover; /* Make the background image cover the entire div */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

/* .about_second {
    height: 60vh;
    width: 100%;
    background-color: yellow;
} */

.about_first_center_div {
    padding: 2px;
    width: 70%;
    height: 35vh;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out children to push button to the bottom */
    color: whitesmoke;
}

.about_perfect_gateway_bttn {
    padding: 7px 15px;
    border-radius: 8px;
    border: none;
    background-color: rgb(179, 212, 202);
    align-self: flex-start; /* Align button to the left */
}

.about_h3 {
    margin: 0;
}

.about_p {
    margin: 0;
}

/* .about_div_container {
    height: 60vh;
    width: 70%;
    background-color: rgb(149, 255, 0);
    margin-left: auto;
    margin-right: auto;
}

.about_div_container_small {
    margin-top: auto;
    height: 55vh;
    width: 100%;
    background-color: purple;
} */
