.card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    height: 390px;
    background-color: rgb(41, 39, 39);
    border: none;
    color: whitesmoke;
    margin:8px 12px ;
  }
  
  .card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
  }
  
  .card-body {
    padding: 1rem;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  }
  
  .card-text {
    text-align: left; 
    margin-bottom: 2px;
  }
  .card-title{
    text-align: left;
    font-weight: bold;
  }
  .card-text-second {
    margin-top: auto;
    text-align: left;
  }
  
  @media (min-width: 1260px) and (max-width: 1424px) {
    .card {
      width: 18rem;
    }
  }
  
  @media (min-width: 1100px) and (max-width: 1260px) {
    .card {
      width: 16rem;
    }
  }
  